body { 
    text-align: center;
    color:white;
    list-style-position: inside;
    background-color: rgba(15, 14, 14, 0.712);
}
h1 {
    font-size: 48px;
}
h3 {
    font-size: 34px;
}
.MenuBox {
    float: left;
    width: 25%;
    height: 400px;
    border: 0.5em black solid;
    padding: 5px auto;
    font-size: 14px;
}
.zbytek {
    width: auto;
    height: 400px;
    border: 0.5em black solid;
}
.foot{
    clear: both;
}
.BigChungus {
    margin: 3em auto;
}
.video {
    margin: 3em auto;
}